
<p class="contenedor">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>TrickFit App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>fitness_center</mat-icon>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <nav class="nav">
        <ul>
          <li><a mat-raised-button routerLink="/alimentos">Alimentos</a></li>
          <li><a mat-raised-button routerLink="/usuarios">Usuarios</a></li>
          <li><a mat-raised-button routerLink="/planes">Planes</a></li>
          <li><a mat-raised-button routerLink="/recetas">Recetas</a></li>
          <li><a mat-raised-button routerLink="/ejercicios">Ejercicios</a></li>
          <li><a mat-raised-button routerLink="/bancos">Bancos</a></li>
          <li><a mat-raised-button routerLink="/citas">Citas</a></li>
          <li><a mat-raised-button routerLink="/suscripciones">Suscripciones</a></li>
          <li><a mat-raised-button routerLink="/preguntas">Preguntas</a></li>
          <li><a mat-raised-button routerLink="/tipo_usuarios">Tipo Usuario</a></li>
          <li><a mat-raised-button routerLink="/rutinas">Rutina</a></li>
          <li><a mat-raised-button routerLink="/rutina_ejercicios">Rutina - Ejercicio</a></li>
          <li><a mat-raised-button routerLink="/dietas">Dieta</a></li>
          <li><a mat-raised-button routerLink="/dieta_recetas">Dieta - Receta</a></li>
          <li><a mat-raised-button routerLink="/tarjetas"> Tarjeta</a></li>
          <li><a mat-raised-button routerLink="/receta_alimentos"> Receta - Alimentos</a></li>
        </ul>
      </nav>      
    </mat-toolbar-row>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>
